      #how_works  {
        .img-container {
          padding: 0;
        }

        h3 {
          font-size: 1.1em;
          font-weight: bold;
          font-transform: uppercase;
          margin-top: 3em;
        }

        p.experct: {
          font-size:  1.1em;
          margin: 2em  0;
        }
      }